{% extends 'web/base.html' %}
{% load static %}
{% block content%}
	<section id="auth_page_container">
		<section id="auth_page">

			<div class="top">
				<h3>Recover Password</h3>
				<section class="exam">
					<div class="exam-pop-up">
		  				<div class="content tab">
							<div class="tab_content">
								<div class="tabs_item">
									<form class="bg ajax redirect reload" action="{% url 'web:forget_password' %}" method="post">
										{% csrf_token %}
										<input class="size" type="email" placeholder="Email" name="email" style="margin-bottom: 20px;">

										<input class="submit" type="submit" value="Reset Password">
									</form>
								</div> <!-- / tabs_item -->
							</div>
		    			</div>
			  		</div>
				</section>
			</div>
		</section>
	</section>

{% endblock %}