{% extends 'web/base.html' %} {% block content %} {% load static %}
{% load main_template_tags %}

	<section id="banner" style="background-image: url('../../static/web/images/bags.jpg');">
		<div class="container">
			<h1 class="title">My Account</h1>
		</div>
		<div class="breadcrumbs">
			<ul>
				<li><a href="{% url 'web:index' %}">Home</a></li>
				<li><span>Cart</span></li>
			</ul>
		</div>
	</section><!--[#banner]-->
	<section id="dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-4" id="side_menu">
					<ul>
						<li>
							<a href="{% url 'web:my_account' %}" title="My Account">
								<i class="svgicon"><img src="{% static 'web/images/dashboard.svg' %}" alt="My Account"></i>
								My Account
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_orders' %}" title="My Orders">
								<i class="svgicon"><img src="{% static 'web/images/shopping-bag.svg' %}" alt="My Orders"></i>
								My Orders
							</a>
						</li>
						<!-- <li>
							<a href="{% url 'web:my_wallet' %}">
								<i class="svgicon"><img src="{% static 'web/images/wallet.svg' %}" alt="My Wallet"></i>
								My Wallet
							</a>
						</li> -->
						<li>
							<a href="{% url 'web:my_rewards' %}" title="My Rewards">
								<i class="svgicon"><img src="{% static 'web/images/coins.svg' %}" alt="My Rewards"></i>
								My Rewards
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_wishlist' %}" title="My Wishlist">
								<i class="svgicon"><img src="{% static 'web/images/wishlist-white.svg' %}" alt="My Wishlist"></i>
								My Wishlist
							</a>
                        </li>
                        <li class="active">
							<a href="{% url 'web:my_cart' %}" title="My Cart">
								<i class="svgicon"><img src="{% static 'web/images/shopping-cart-white.svg' %}" alt="My Cart"></i>
								My Cart
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_address' %}" title="My Address">
								<i class="svgicon"><img src="{% static 'web/images/005-location.svg' %}" alt="My Address"></i>
								My Address
							</a>
						</li>
					</ul>
				</div><!--[#side_menu]-->
				<div id="main_content" class="col-md-8">
					<div class="head">
						<h4><b>Cart</b></h4>
					</div> 
					{% if cart_items %}
					<div class="content ">
						<div id="myorders_list" class="wishlist_items">
							{% for cart_item in cart_items %}
							<div class="order_details product-layout">
								{% if cart_item.product.image %}
								<a href="{% url 'web:single_product' pk=cart_item.product.pk %}" class="thumb">
									<img src="{{cart_item.product.image.url}}" alt="">
								</a>
								{% elif cart_item.product_varient.image %}
								<a href="{% url 'web:single_product' pk=cart_item.product.pk %}" class="thumb">
									<img src="{{cart_item.product_varient.image.url}}" alt="">
								</a>
								{% else%}
								<a href="{% url 'web:single_product' pk=cart_item.product.pk %}" class="thumb">
									<img src="{% static 'web/images/democat1.jpg' %}" alt="">
								</a>
								{% endif %}
								{% if cart_item.product_varient %}
								<h5>{{cart_item.product.name}} - {{cart_item.product_varient.title}} {% if cart_item.product_varient.size != None and cart_item.product_varient.size != "" and cart_item.product_varient.size != " " and cart_item.product_varient.size != "  " %} - {{cart_item.product_varient.size|title}} Size {% endif %} {% if cart_item.product_varient.count != None and cart_item.product_varient.count != "" and cart_item.product_varient.count != " " and cart_item.product_varient.count != "  " %} - {{cart_item.product_varient.count}} Count {% endif %} {% if cart_item.product_varient.flavour != None and cart_item.product_varient.flavour != "" and cart_item.product_varient.flavour != " " and cart_item.product_varient.flavour != "  " %} - {{cart_item.product_varient.flavour}} {% endif %}</h5>
                                <p>
									{{cart_item.qty|floatformat:"0"}} Qty X ₹ {{cart_item.price}}
                                </p>
								{% else %}
								<h5>{{cart_item.product.name}} - {{cart_item.product.unit_type}} {% if cart_item.product.size != None and cart_item.product.size != "" and cart_item.product.size != " " and cart_item.product.size != "  " %} - {{cart_item.product.size|title}} Size {% endif %} {% if cart_item.product.count != None and cart_item.product.count != "" and cart_item.product.count != " " and cart_item.product.count != "  " %} - {{cart_item.product.count}} Count {% endif %} {% if cart_item.product.flavour != None and cart_item.product.flavour != "" and cart_item.product.flavour != " " and cart_item.product.flavour != "  " %} - {{cart_item.product.flavour}} {% endif %}</h5>
                                <p>
									{{cart_item.qty|floatformat:"0"}} Qty X ₹ {{cart_item.price}}
                                </p>
								{% endif %}
								<p class="price">
									<i class="currency">₹</i> {{cart_item.subtotal}}
								</p>
								<!-- <div class="input-group col-xs-2 col-sm-2 qop" style="display: flex;">
									<label class="control-label qlable" for="input-quantity" style="margin-right: 10px;">Qty</label>
									<input type="number" name="quantity" min="1" value="{{cart_item.product.pk|check_qty_in_cart:request}}" step="1" id="fqty_28" class="form-control col-sm-2 col-xs-9 qtyq" style="width: 100px; margin-right: 20px;" />
								</div> -->
                                <span class="qty">
									<div class="quantity">
										<div class="q_minus">
										<span class="q_control" data-multi="-1">-</span>
										</div>
										<div class="q_input">
										<input id="qty_change" type="text" class="quntity-input" {% if cart_item.product_varient %} value="{{cart_item.product_varient.pk|check_qty_in_cart:request}}" {% else %}  value="{{cart_item.product.pk|check_qty_in_cart:request}}" {% endif %} />
										<b class="value">Qty</b>
										</div>
										<div class="q_plus">
										<span id="qty_change" class="q_control" data-multi="1">+</span>
                                        </div>
									    <button type="button" href="{% url 'web:add_cart' %}" data-id="add-to-cart" {% if cart_item.product_varient %} data-pk="{{cart_item.product_varient.pk}}" {% else %}  data-pk="{{cart_item.product.pk}}" {% endif %} class="btn btn-primary" style="margin-left: 15px;"><i class="fa fa-shopping-cart"><span  style="font-family: Poppins; font-size: 14px; margin-left: 5px;">Update Cart</span>  </i>
                                        
										<div class="clearfix"></div>
									</div>
								</span>
								<hr>
								<a class="delete" href="{% url 'web:delete_cart_item' pk=cart_item.pk %}"
								data-toggle="tooltip" title="Remove" data-id="delete-cart-item"
								class="btn btn-danger" onclick=""></a>

							</div><!--[.order_details]-->
							{% endfor %}
						</div><!--[.cart_items]-->
					</div>	
					{% else %}
							<div class="nothing_found">
								<!-- <div class="image">
									<img src="{% static 'web/images/cartempty.jpeg' %}" alt="Image" title="Nothing Found" />
								</div> -->
								<h3>Sorry, no item in cart</h3>
							</div>
					{% endif %}
				</div><!--[main_content]-->

			</div>
			{% if cart_items %}
			<h2 class="heading">What would you like to do next?</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Step 1: Checkout Options</h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-checkout-option">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="panel panel-default address-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#collapse-payment-address" data-toggle="collapse"
                                    data-parent="#accordion" class="accordion-toggle collapsed"
                                    aria-expanded="false">Step 2: Delivery Address <i class="fa fa-caret-down"></i></a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse address-panel-update" id="collapse-payment-address" aria-expanded="false"
                            style="height: 0px;">
                            <div class="panel-body">
                                <!-- <form class="form-horizontal"> -->
                                <div class="top card">
                                    <h3>Delivery Address</h3>
                                    {% if is_address %}
                                    <!-- <div class="radio">
                                        <label>
                                            <input type="radio" name="payment_address" value="existing"
                                                checked="checked" >
                                            I want to use an existing address</label>
                                    </div> -->
                                    <div class="all-ser text-center" style='border:none'>
                                        {% if active_address %}
                                        <div class="ser-block" style="border: 1px solid #eee">
                                            <div class="d-inline-block">
                                                <input type="radio" style="width: 30px;" value="{{active_address.pk}}"
                                                    checked name='deliver_address'>
                                                <!-- <span class="checkmark"></span> -->
                                            </div>
                                            <div class="ser-co d-inline-block text-left">
                                                <h5>{{active_address.name}}</h5>
                                                <h6>{{active_address.address}}</h6>
                                                <h6>{{active_address.pincode}}</h6>
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% for address_item in addresses %}
                                        <div class="ser-block" style="border: 1px solid #eee">
                                            <div class="d-inline-block">
                                                <input type="radio" style="width: 30px;" value="{{address_item.pk}}"
                                                    name='deliver_address'>
                                                <!-- <span class="checkmark"></span> -->
                                            </div>
                                            <div class="ser-co d-inline-block text-left">
                                                <h5>{{address_item.name}}</h5>
                                                <h6>{{address_item.address}}</h6>
                                                <h6>{{address_item.pincode}}</h6>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="payment_address" value="new">
                                            Add a new address</label>
                                    </div>
                                </div>

                                <br>
                                <div id="payment-new" style="display: none;">
                                    <form action="{% url 'customers:add_address' %}" method="POST" class="ajax reload redirect is_swal">
                                        {% csrf_token %}
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your Name</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your
                                                Location</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.location }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your Address</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.address }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your Phone</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.phone }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your Pincode</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.pincode }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your City</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.city }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your State</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.state }}
                                            </div>
                                        </div>
                                        <div class="form-group required" >
                                            <label class="col-sm-12 control-label" for="input-name">Your Country</label>
                                            {% if field.required %}
                                            <small class="star">*</small>
                                            {% endif %}
                                            <div class="col-sm-12 addrs_fields">
                                                {{ form.country }}
                                            </div>
                                        </div>
                                        <div class="pull-right" style="margin-top:10px">
                                            <input value='Add' type="submit" class="btn btn-primary pull-right">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- </form> -->
                            <script type="text/javascript">
                                $('input[name=\'payment_address\']').on('change', function () {
                                    if (this.value == 'new') {
                                        $('#payment-existing').hide();
                                        $('#payment-new').show();
                                    } else {
                                        $('#payment-existing').show();
                                        $('#payment-new').hide();
                                    }
                                });
                            
                            </script>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#collapse-voucher" data-toggle="collapse"
                                    data-parent="#accordion" class="accordion-toggle">Step 3: Add Payement Method <i
                                        class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div id="collapse-voucher" class="panel-collapse collapse">
                            <div class="panel-body">
                                <label class="col-sm-2 control-label" for="input-voucher">Select A Payement
                                    Method</label>
                                <div class="input-group col-sm-10">
                                    <select name="payment_type" id="id_payment_type" class="form-control">
                                        <option value=""> --- Please Select --- </option>
                                        <option selected value="cash_on_delivery">Cash On Delivery</option>
                                    </select>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $('#id_payment_type').change()
                                    })
                                    $('#id_payment_type').change(function () {
                                        var type = $(this).val();
                                        var url = $('#checkout').attr('href');
                                        url = url.split('?')[0]
                                        new_url = url + '?payment_type=' + type
                                        $('#checkout').attr('href', new_url)
                                    });
                                </script>
                                <script type="text/javascript">
                                        $('#button-voucher').on('click', function () {
                                            $.ajax({
                                                url: 'index.php?route=extension/total/voucher/voucher',
                                                type: 'post',
                                                data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
                                                dataType: 'json',
                                                beforeSend: function () {
                                                    $('#button-voucher').button('loading');
                                                },
                                                complete: function () {
                                                    $('#button-voucher').button('reset');
                                                },
                                                success: function (json) {
                                                    $('.alert-dismissible').remove();

                                                    if (json['error']) {
                                                        $('.breadcrumb').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                                                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                                                    }

                                                    if (json['redirect']) {
                                                        location = json['redirect'];
                                                    }
                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                }
                                            });
                                        });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default checkout-panel">
                        <div class="panel-heading checkout-panel-update">
                            <h4 class="panel-title"><a href="#collapse-checkout-confirm" data-toggle="collapse"
                                    data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 4:
                                    Confirm Order <i class="fa fa-caret-down"></i></a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-checkout-confirm" aria-expanded="true" style="" >
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td class="text-left">Product Name</td>
                                                <td class="text-left">Variant</td>
                                                <td class="text-left">Brand</td>
                                                <td class="text-left">Quantity</td>
                                                <td class="text-left">MRP</td>
                                                <td class="text-left">Unit Price</td>
                                                <td class="text-left">Total</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item in cart_items %}
                                            <tr class="final_bill">
                                                <td class="text-left"><a href="{% url 'web:single_product' pk=cart_item.product.pk %}">{{cart_item.product}}</a></td>
                                                {% if cart_item.product_varient %}
                                                <td class="text-left">{{cart_item.product_varient}}</td>
                                                {% else %}
                                                <td class="text-left">{{cart_item.product.unit_type}}</td>
                                                {% endif %}
                                                <td class="text-left">{{cart_item.product.brand|default:"-"}}</td>
                                                <td class="text-left qty">{{cart_item.qty|floatformat:"0"}}</td>
                                                {% if cart_item.product_varient %}
                                                <td class="text-left mrp" id="mrp">{{cart_item.product_varient.mrp}}</td>
                                                {% else %}
                                                <td class="text-left mrp" id="mrp">{{cart_item.product.mrp}}</td>
                                                {% endif %}
                                                <td class="text-left discount" style="display: none;"></td>
                                                <td class="text-left unit_price" id="unit_price">{{cart_item.price}}</td>
                                                <td class="text-left">{{cart_item.subtotal}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
											<tr>
                                                <td colspan="6" class="text-right"><strong>Total MRP</strong></td>
                                                <td class="text-left total_mrp"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="text-right"><strong>Discount</strong>
                                                </td>
                                                <td class="text-left total_dicount"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="6" class="text-right"><strong>Sub-Total</strong></td>
                                                <td class="text-left total">{{cart.total}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="text-right"><strong>Flat shipping rate   </strong>
                                                </td>
                                                {% if cart.total >= 500%}
                                                <td class="text-left delivery_charger">0</td>
                                                {% else %}
                                                <td class="text-left delivery_charger">{{charge|default:'0'}}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="text-right"><strong>Grand Total</strong></td>
                                                <td class="text-left check_out_tot"></td>

                                            </tr>
                                            <tr>
                                                <td colspan="6" class="text-right"><strong>You Saved Rs</strong></td>
                                                <td class="text-left total_dicount"></td>

                                            </tr>
                                        </tfoot>
                                    </table>
								</div>
								<script>
									$(document).ready(function () {
										let delivery_charge = $('.delivery_charger').html();
										let total = $('.total').html();
										let grand_total = parseFloat(total);
                                        if (total >= 500){
										    grand_total = parseFloat(total);
                                        }else{
                                            grand_total = parseFloat(delivery_charge) + parseFloat(total);
                                        }
										grand_total = (grand_total).toFixed(2);
										$('#grand_total').html(grand_total);
										$('.check_out_tot').html(grand_total);
										var total_discount = 0;
										var grand_mrp = 0;
										$('tr.final_bill').each(function(){
											var mrp = $(this).find('td.mrp').text();
											var price = $(this).find('td.unit_price').text();
											var discount = parseFloat(mrp)  - parseFloat(price);
                                            
                                            var qty = $(this).find('td.qty').text();
											var dis_total = parseFloat(qty) * parseFloat(discount);
                                        
                                            total_discount += dis_total; 
                                            total_discounts = total_discount.toFixed(2);
											var mrp_total = parseFloat(qty) * parseFloat(mrp);
											grand_mrp += mrp_total;
											grand_mrps = grand_mrp.toFixed(2);

										});
										$('.total_dicount').html(total_discounts);
                						$('.total_mrp').html(grand_mrps);

									})
								</script>
                                <div class="buttons">
                                    <div class="pull-right">
                                        <div class="pull-right"><a href="{% url 'web:checkout' %}" id="checkout"
                                                class="action-button btn btn-primary redirect">Checkout</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			{% endif %}
		</div>
		
	</section><!--[dashboard]-->
	<div id="snackbar"></div>
	<style>
		.quantity{
			width: auto;
		}
	</style>
	<script>
		$(document).on(
		  "click",
		  'button[data-id="add-to-cart"], button[data-id="add-to-wishlist"]',
		  function (e) {
			e.preventDefault();
		
			python = '{% if not user.is_authenticated %}'
			window.location.href = "{% url 'web:login' %}?next={% url 'web:single_product' pk=instance.pk %}"
			python = '{% else %}'
		
			$this = $(this);
			var url = $(this).attr("href");
			var isReload = $this.hasClass("reload");
			let id = $(this).attr("data-pk");
			let qty = $(this).parents('.product-layout').find('#qty_change').val()
			// let qty = $(this).parents('.product-layout').find('.form-control[name^=quantity]').val()
            
			$.ajax({
			  type: "GET",
			  url: url,
			  dataType: "json",
			  data: {
				pk: id,
				qty : qty
			  },
		
			  success: function (data) {
				var status = data["status"];
				var message = data["message"];
				var cart_item_count = data["cart_item_count"];
				var cart_item_count = data["cart_item_count"];
		
		
				$("#snackbar").html(message);
                ShowSnackBar();
                checkCartAnsWishlist();
                
				$("#head header span.anticon small.count b").html(cart_item_count);
                // location.reload();
                if (status == 'true') {

                var row_length = $this.parents("tbody").find("tr").length;
                $this.parents("tr").remove();

                if (row_length <= 1) {
                    window.location.reload();
                }

                var pageURL = $(location).attr("href");
                $('.checkout-panel').load(pageURL + ' .checkout-panel-update');

                }
			  },
		
			  error: function (data) {
				var title = "An error occurred";
				var message = "An error occurred. Please try again later.";
				ShowSnackBar(title, message, "error");
			  }
			});
			python = '{% endif %}'
		  }
		);
	
		$(document).on("click", 'a[data-id="delete-cart-item"]', function (e) {
        e.preventDefault();

        python = '{% if not user.is_authenticated %}'
        window.location.href = "{% url 'web:login' %}?next={% url 'web:single_product' pk=instance.pk %}"
        python = '{% else %}'

        $this = $(this);
        var url = $(this).attr("href");
        var isReload = $this.hasClass("reload");
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            data: {

            },

            success: function (data) {
                var status = data["status"];
                var message = data["message"];

                $("#snackbar").html(message);
                ShowSnackBar();
                checkCartAnsWishlist();
                location.reload();
            },

            error: function (data) {
                var title = "An error occurred";
                var message = "An error occurred. Please try again later.";
                swal(title, message, "error");
            }
        });
        python = '{% endif %}'
    }
    );
	$(document).ready(function(){
        $(document).on("click",'a[data-id="now"]',function (e) {
        e.preventDefault();
        e.stopPropagation();
    
        python = '{% if not user.is_authenticated %}'
        window.location.href = "{% url 'web:login' %}?next={% url 'web:single_product' pk=instance.pk %}"
        python = '{% else %}'
    
        $this = $(this);
        $this.prop('disabled', true);

        var url = $(this).attr("href");
        var isReload = $this.hasClass("reload");
        let dataid = $(this).attr("data-pk");
        let qty = $('.qop.input-group .form-control[name^=quantity]').val()
        $.ajax({
          type: "GET",
          url: url,
          dataType: "json",
          data: {
            pk: dataid,
            qty: qty
          },
    
          success: function (data) {
            var status = data["status"];
            var message = data["message"];
            redirect_url = data['redirect_url'];
            if (status = 'true'){
                $this.prop('disabled', false);

                if (redirect_url){
                    window.location.href = redirect_url
                }
            }
          },
    
          error: function (data) {
            var title = "An error occurred";
            var message = "An error occurred. Please try again later.";
            $("#snackbar").html(message);
            ShowSnackBar();
          }
        });
        python = '{% endif %}'
      }
    );
});
	</script>
	<script>
		$(document).on("change", '#qty_change', function (e) {
			e.preventDefault();
	
			python = '{% if not user.is_authenticated %}'
			window.location.href = "{% url 'web:login' %}?next={% url 'web:single_product' pk=instance.pk %}"
			python = '{% else %}'
	
			$this = $(this);
			var url = $(this).attr("href");
			var isReload = $this.hasClass("reload");
			let id = $(this).attr("data-pk");
			let qty = $(this).parents('tr.parent').find('#qty_change').val()
			$.ajax({
				type: "GET",
				url: url,
				dataType: "json",
				data: {
					pk: id,
					qty: qty
				},
	
				success: function (data) {
					var status = data["status"];
					var message = data["message"];
					var cart_item_count = data["cart_item_count"];
					var wishlist_item_count = data["wishlist_item_count"];
	
	
					$("#snackbar").html(message);
					ShowSnackBar();
					$("#head header span.anticon small.count b").html(cart_item_count);
					if (status == 'true') {
						location.reload();
					}
				},
	
				error: function (data) {
					var title = "An error occurred";
					var message = "An error occurred. Please try again later.";
					ShowSnackBar(title, message, "error");
				}
			});
			python = '{% endif %}'
		}
		);
		$(document).on("click", 'input[name="deliver_address"]', function (e) {
	
			python = '{% if not user.is_authenticated %}'
			window.location.href = "{% url 'web:login' %}?next={% url 'web:single_product' pk=instance.pk %}"
			python = '{% else %}'
	
			$this = $(this);
			let id = $(this).val()
			var url = '{% url "web:change_address" %}'
			$.ajax({
				type: "GET",
				url: url,
				dataType: "json",
				data: {
					pk: id,
				},
	
				success: function (data) {
					if (data['status'] == 'true') {
						let delivery_charge = data['charge']

						let total = $('.total').html();
                        if (total >= 500){
                            $('td.delivery_charger').html(0)
                            let grand_total = parseFloat(total);
                        }else{
                            $('td.delivery_charger').html(delivery_charge)
                            let grand_total = parseFloat(delivery_charge) + parseFloat(total);
                        }
						$('#grand_total').html(grand_total);
						$('.check_out_tot').html(grand_total);
	
						$("#snackbar").html('Address Changed Successfully');
					}
					else
						$("#snackbar").html('An Error Occured');
	
					ShowSnackBar();

                    // var pageURL = $(location).attr("href");
                    // $('.address-panel').load(pageURL + ' .address-panel-update');

					location.reload();
				},
	
				error: function (data) {
					$("#snackbar").html('An Error Occured');
					ShowSnackBar();
				}
			});
			python = '{% endif %}'
		}
		);
	
	</script>
	{% endblock %}


