{% extends 'web/base.html' %} {% block content %} {% load static %} {% load main_template_tags %}
	<section id="banner" style="background-image: url('../../static/web/images/coins.jpg');">
		<div class="container">
			<h1 class="title">My Account</h1>
		</div>
		<div class="breadcrumbs">
			<ul>
				<li><a href="{% url 'web:index' %}">Home</a></li>
				<li><span>Rewards</span></li>
			</ul>
		</div>
	</section><!--[#banner]-->
	<section id="dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-4" id="side_menu">
					<ul>
						<li>
							<a href="{% url 'web:my_account' %}" title="My Account">
								<i class="svgicon"><img src="{% static 'web/images/dashboard.svg' %}" alt="My Account"></i>
								My Account
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_orders' %}" title="My Orders">
								<i class="svgicon"><img src="{% static 'web/images/shopping-bag.svg' %}" alt="My Orders"></i>
								My Orders
							</a>
						</li>
						<!-- <li>
							<a href="{% url 'web:my_wallet' %}">
								<i class="svgicon"><img src="{% static 'web/images/wallet.svg' %}" alt="My Wallet"></i>
								My Wallet
							</a>
						</li> -->
						<li class="active">
							<a href="{% url 'web:my_rewards' %}" title="My Rewards">
								<i class="svgicon"><img src="{% static 'web/images/coins.svg' %}" alt="My Rewards"></i>
								My Rewards
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_wishlist' %}" title="My Wishlist">
								<i class="svgicon"><img src="{% static 'web/images/wishlist-white.svg' %}" alt="My Wishlist"></i>
								My Wishlist
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_cart' %}" title="My Cart">
								<i class="svgicon"><img src="{% static 'web/images/shopping-cart-white.svg' %}" alt="My Cart"></i>
								My Cart
							</a>
						</li>
						<li>
							<a href="{% url 'web:my_address' %}" title="My Address">
								<i class="svgicon"><img src="{% static 'web/images/005-location.svg' %}" alt="My Address"></i>
								My Address
							</a>
						</li>
					</ul>
				</div><!--[#side_menu]-->
				<div id="main_content" class="col-md-8">
					<div class="head">
						<h4><b>Rewards</b></h4>
					</div> 
					<div class="content">
						<div class="row mb0">
							{% if rewards %}
							{% for reward in rewards %}
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="code_box">
									<h3>
										{{reward.reward_amount}}<br>
										Coin
									</h3>
								</div>
							</div>
							{% endfor %}
							{% else %}
							<div class="nothing_found">
								<!-- <div class="image">
								<img src="{% static 'web/images/cartempty.jpeg' %}" alt="Image" title="Nothing Found" />
							</div> -->
								<h3>Sorry, no rewards found</h3>
							</div>
							{% endif %}
						</div>
						<hr>
					</div>	
				</div><!--[main_content]-->
			</div>
		</div>
	</section><!--[dashboard]-->
{% endblock %}
