<!DOCTYPE html>
<html lang="en"> 
	<head>
        {% load static %}
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="{% static 'web/css/terms_style.css' %}"
            type="text/css"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/fonts/favicon/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/fonts/favicon/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/fonts/favicon/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'web/fonts/favicon/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'web/fonts/favicon/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <title>Privacy Policy | Day Bazar </title>
		<meta
            name="viewport"
            content="width=device-width"
            initial-scale="1.0"
        />

        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="manifest" href="{% static 'web/terms/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'web/terms/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="{% static 'web/terms/og.png' %}"
        />

        <meta property="og:image" />

        <meta
            name="description"
            content="DayBazar Online Grocery Shop gives you a fast online shopping experience with a secure delivery system. Delivery of products will take a maximum speed and accurate. We introduced hygiene products as all products are made in your own areas."
        />
        <meta name="keywords" />
        <script
            src="{% static 'js/jquery.min.js' %}"
            type="text/javascript"
        ></script>
        <script
            src="{% static 'js/script.js' %}"
            type="text/javascript"
        ></script>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-129134064-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-129134064-1");
        </script>

        
	</head>
	<body>
        <header>
            <h1>
                <a href="/" class="thumb">
                    <img src="{% static 'web/terms/logo.png' %}" alt="DayBazar" />
                </a>
            </h1>
        </header>
        <section id="privacy-policy">
            <section class="wrapper">
                <div class="head">
                    <h2>Privacy Policy</h2>
                    <p class="p-i">
                        We ( DayBazar Online Grocery Shop ) appreciate your trust in us. That is why we demand high standards for secure transactions and customer information privacy. Please read the following statement to know about our information gathering and campaign methods.
                    </p>
                </div>
                <div class="item b-i">
                    <h3 class="p-h">Note :</h3>
                    <p class="p-i">
                        When you use our Application,  we collect and store your personal information from time to time. Our primary goal in doing so is to provide you with a safe, efficient, convenient, and customizable experience. It allows us to provide services and features that meet your needs and customize our App to make your experience safer and easier. More importantly, in doing so, we collect from you personal information that we consider essential to achieving this goal. 
                        If you choose to buy on the App, we collect information about your buying behavior, preferences, and other such information that you choose to provide.If you transact with us, we collect some additional information, such as a billing address, a credit/debit card number, and a credit/debit card expiration date and/ or other payment instrument details and tracking information from cheques or money orders.
                    </p>
                </div>
                <div class="item b-i">
                    <h3 class="p-h">I. Collection of Personally Identifiable Information</h3>
                    <p class="p-i">
                        For a better experience, while using our Service, we may
                        require you to provide us with certain personally
                        identifiable information, including but not limited to your
                        name, phone number, and postal address. The information that
                        we collect will be used to contact or identify you.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">II. Children’s allowed to Use?</h3>
                    <p class="p-i">
                        Our Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do the necessary actions.
                    </p>
                </div>    
                   
                <div class="item  b-i">
                    <h3 class="p-h">III. Sharing Personal Information</h3>
                    <p class="p-i">
                        We may not share personal information with our other corporate entities and affiliates. We may close your personal information to third parties. This closure of information may not be required for us to provide you access to our Services, for the fulfillment of your orders, or for enhancing your experience, or to comply with our legal obligations, to enforce our User Agreement, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our Services. We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">IV. Links of Other Sites</h3>
                    <p class="p-i">
                        Our App may not include third-party advertising and links to other websites. We do not provide any personally identifiable user information to these advertisers or third-party websites.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">V. Security Precautions</h3>
                    <p class="p-i">
                        Our App has strict security measures in place to protect the loss, misuse, and alteration of the information under our control. We offer the use of a secure server when changing or accessing information with your numeric information. If we have your information, we follow strict security guidelines and protect it from unauthorized access.

                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">VI. User Agreement, Notices, and Revisions</h3>
                    <p class="p-i">
                        Our business is constantly changing, and so is our privacy notice. We may email you with periodic reminders of our notices and terms. You should check our app regularly to see recent changes. Unless otherwise stated, our current privacy notice applies to all information about you and your account. However, we stand behind the promises we make, and will never materially change our policies or practices to reduce the protection of previously collected user information without the consent of the affected users.

                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">VII. Choice / Opt-Out</h3>
                    <p class="p-i">
                        We give all users the opportunity to use opt-out of receiving unwanted (promotional, marketing-related) communications after setting up an account from us and from us in general for our partners.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">VIII. Advertisement</h3>
                    <p class="p-i">
                        We do not use third-party advertising companies to serve ads when you visit our App. These companies may use information about your visits to this and other websites (not including your name, address, email address, or telephone number) to place ads about the goods and services you are interested in.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">IX. Your Consent</h3>
                    <p class="p-i">
                        By using the App and/ or by providing your information, you consent to the collection and use of the information you disclose on the App in accordance with this Privacy Policy, including but not limited to Your consent for sharing your information as per this privacy policy. If you disclose any personal information relating to other people to us, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.

                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">X. Changes to This Privacy Policy </h3>
                    <p class="p-i">
                        We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.

                    </p>
                </div>
                
                <div class="item  b-i">
                    <h3 class="p-h">XI. Questions</h3>
                    <p class="p-i">
                        Please contact us regarding any questions regarding this statement.

                    </p>
                </div>
            </section>
        </section>

        <section id="footer" class="privacy-policy">
            <section class="content" style="background-image: url('../../static/web/terms/bg.png'); width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 55px 0;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.1),0 0 0 rgba(0,0,0,.1);
            background-color: #fff;
            background-size: cover;">
                <h1>
                    <a href="/"
                        ><img style="width: 200PX;" src="{% static 'web/terms/logo.png' %}" alt="DayBazar"
                    /></a>
                </h1>
                <p style="font-size: 20PX;" ><b style="color: #333;">Privacy Policy</b>
                </p>
            </section>

    </body>
    
</html>