<!DOCTYPE html>
<html lang="en"> 
	<head>
        {% load static %}
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="{% static 'web/css/terms_style.css' %}"
            type="text/css"
        />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/fonts/favicon/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/fonts/favicon/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/fonts/favicon/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'web/fonts/favicon/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'web/fonts/favicon/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <title>Refund & Return Policy | Day Bazar </title>
		<meta
            name="viewport"
            content="width=device-width"
            initial-scale="1.0"
        />

        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="manifest" href="{% static 'web/terms/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'web/terms/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="{% static 'web/terms/og.png' %}"
        />

        <meta property="og:image" />

        <meta
            name="description"
            content="DayBazar Online Grocery Shop gives you a fast online shopping experience with a secure delivery system. Delivery of products will take a maximum speed and accurate. We introduced hygiene products as all products are made in your own areas."
        />
        <meta name="keywords" />
        <script
            src="{% static 'js/jquery.min.js' %}"
            type="text/javascript"
        ></script>
        <script
            src="{% static 'js/script.js' %}"
            type="text/javascript"
        ></script>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-129134064-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-129134064-1");
        </script>

        
	</head>
	<body>
        <header>
            <h1>
                <a href="/" class="thumb">
                    <img src="{% static 'web/terms/logo.png' %}" alt="DayBazar" />
                </a>
            </h1>
        </header>
        <section id="privacy-policy">
            <section class="wrapper">
                
                <div class="item b-i">
                    <h3 class="p-h">Return & Refund Policy:</h3>
                    <p class="p-i">
                        We endeavour to provide the best quality products every single time you order with us.

                        At the time of delivery, we will take the returned product back with us and if already paid the corresponding value would be refunded to you through the same mode of payment used at the time of purchase viz., credit card, debit card, net banking. Alternatively, at your option, the said amount can be credited to your store credit account which can be used for your subsequent purchases.

                        After the delivery, the amount shall be refunded to you through the same mode of payment or via credit to your store credit account which can be used for subsequent purchase.<br/>

                        Products once sold and delivered to you, shall be eligible for return only if the product condition is found to be damaged, broken, faulty or different from the ordered one. You can return the product(s), purchased from us under your order as per below, provided the product(s) packs are sealed/unopened/unused and in original condition.<br/>
                        <br />
                        Product Category<br/>
                        Reason for Return: Damaged / Faulty / Broken/ Leaking<br/>
                        Bread / Fruits & Vegetable / Eggs<br/>
                        Within 1 day of delivery<br/>
                        Dairy Products<br/>
                        Within 1 day of delivery<br/>
                        Non Food<br/>
                        Within 3 days of delivery<br/>
                        Packaged Food<br/>
                        Within 3 days of delivery<br/>

                        We do not make any cash refund

                        In case of prepaid orders, if any part of it remains short delivered due to some reason, corresponding value would be refunded to you through the same mode of payment used at the time of purchase viz., credit card, debit card, net banking .The amount will be refunded to you between 3-15 working days depending upon the mode of payment chosen by you. Sometimes banks or financial intermediaries take a longer time to process the refund request. However, if the refund does not happen by the date advised, you may contact us and we will gladly help you. Alternatively at your option, the said amount can be credited to your store credit account which can be used for your subsequent purchases.

                    </p>
                </div>
                
            </section>
        </section>

        <section id="footer" class="privacy-policy">
            <section class="content" style="background-image: url('../../static/web/terms/bg.png'); width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 55px 0;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.1),0 0 0 rgba(0,0,0,.1);
            background-color: #fff;
            background-size: cover;">
                <h1>
                    <a href="/"
                        ><img style="width: 200PX;" src="{% static 'web/terms/logo.png' %}" alt="DayBazar"
                    /></a>
                </h1>
                <p style="font-size: 20PX;" ><b style="color: #333;">Return & Refund Policy</b>
                </p>
            </section>

    </body>
    
</html>