<!DOCTYPE html>
<html lang="en"> 
	<head>
        {% load static %}
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="{% static 'web/css/terms_style.css' %}"
            type="text/css"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/fonts/favicon/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/fonts/favicon/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/fonts/favicon/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'web/fonts/favicon/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'web/fonts/favicon/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    
        <title>Terms & Conditions | Day Bazar</title>
		<meta
            name="viewport"
            content="width=device-width"
            initial-scale="1.0"
        />

        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/terms/favicon/icon.png' %}">
        <link rel="manifest" href="{% static 'web/terms/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'web/terms/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{% static 'web/terms/og.png' %}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="{% static 'web/terms/og.png' %}"
        />

        <meta property="og:image" />

        <meta
            name="description"
            content="DayBazar Online Grocery Shop gives you a fast online shopping experience with a secure delivery system. Delivery of products will take a maximum speed and accurate. We introduced hygiene products as all products are made in your own areas."
        />
        <meta name="keywords" />
        <script
            src="{% static 'js/jquery.min.js' %}"
            type="text/javascript"
        ></script>
        <script
            src="{% static 'js/script.js' %}"
            type="text/javascript"
        ></script>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-129134064-1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-129134064-1");
        </script>

        
	</head>
	<body>
        <header>
            <h1>
                <a href="/" class="thumb">
                    <img src="{% static 'web/terms/logo.png' %}" alt="DayBazar" />
                </a>
            </h1>
        </header>
        <section id="privacy-policy">
            <section class="wrapper">
                <div class="head">
                    <h2>Terms & Conditions </h2>
                    <p class="p-i">
                        We ( DayBazar Online Grocery Shop ) appreciate your trust in us. That is why we demand high standards for secure transactions and customer information privacy. Please read the following statement to know about our information gathering and campaign methods.
                    </p>
                </div>
                <div class="item b-i">
                    <h3 class="p-h">I. Return & Refund Policy:</h3>
                    <p class="p-i">
                        We endeavour to provide the best quality products every single time you order with us.

                        At the time of delivery, we will take the returned product back with us and if already paid the corresponding value would be refunded to you through the same mode of payment used at the time of purchase viz., credit card, debit card, net banking. Alternatively, at your option, the said amount can be credited to your store credit account which can be used for your subsequent purchases.

                        After the delivery, the amount shall be refunded to you through the same mode of payment or via credit to your store credit account which can be used for subsequent purchase.<br/>

                        Products once sold and delivered to you, shall be eligible for return only if the product condition is found to be damaged, broken, faulty or different from the ordered one. You can return the product(s), purchased from us under your order as per below, provided the product(s) packs are sealed/unopened/unused and in original condition.<br/>
                        elivery, we will take the returned product back with us and if already paid the corresponding value would be refunded to you through the same mode of payment used at the time of purchase viz., credit card, debit card, net banking. Alternatively, at your option, the said amount can be credited to your store credit account which can be used for your subsequent purchases.

                        After the delivery, the amount shall be refunded to you through the same mode of payment or via credit to your store credit account which can be used for subsequent purchases.<br/>

                        Products once sold and delivered to you, shall be eligible for return only if the product condition is found to be damaged, broken, faulty or different from the ordered one. You can return the product(s), purchased from us under your order as per below, provided the product(s) packs are sealed/unopened/unused and in original condition.<br/>

                        Product Category<br/>
                        Reason for Return: Damaged / Faulty / Broken/ Leaking<br/>
                        Bread / Fruits & Vegetable / Eggs<br/>
                        Within 1 day of delivery<br/>
                        Dairy Products<br/>
                        Within 1 day of delivery<br/>
                        Non Food<br/>
                        Within 3 days of delivery<br/>
                        Packaged Food<br/>
                        Within 3 days of delivery<br/>

                        We do not make any cash refund

                        In case of prepaid orders, if any part of it remains short delivered due to some reason, corresponding value would be refunded to you through the same mode of payment used at the time of purchase viz., credit card, debit card, net banking .The amount will be refunded to you between 3-15 working days depending upon the mode of payment chosen by you. Sometimes banks or financial intermediaries take a longer time to process the refund request. However, if the refund does not happen by the date advised, you may contact us and we will gladly help you. Alternatively at your option, the said amount can be credited to your store credit account which can be used for your subsequent purchases.

                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">II. Exchange Policy:</h3>
                    <p class="p-i">
                        All products listed on our Website and application can be exchanged or returned subject to the following conditions:<br />
                        Product Condition: A product cannot be exchanged or returned unless it is a defective, broken, faulty, leaking or not of satisfactory quality. In case of return/exchange you must return the product to us in the same original condition as is supplied by us. Products, under the following instances, cannot be accepted by us as/under Return:<br />
                        i. damages due to mishandling of product;<br />
                        ii. products with tampered or missing labels;<br />
                        iii. Products without all original packaging and accessories, including the box, manufacturer's packaging if any, original invoice and all other items originally included with the product(s) delivered.<br />
                        iv. Product Accessories / Freebies / Bundles & Combos: All the product accessories available with the product and / or all the freebies associated with the product and / or other products associated as "bundles" or "combos" with the product should also be returned so as to enable us to initiate the exchange or return process.<br />
                        v. Validity Period for Return/Exchange: Subject to Return/exchange Policy, a purchased product can be exchanged or returned within 1 (One) to 3 (Three) days from the date of delivery/placing an order depending on the nature of the product as mentioned herein above.<br />

                    </p>
                </div>    
                   
                <div class="item  b-i">
                    <h3 class="p-h">III. Cancellation Policy:</h3>
                    <p class="p-i">
                        You can cancel your order fully or partially anytime up to the cut-off time of the slot for which you have placed an order by calling our customer service. In such a case we shall refund any payments already made by you for the order as per the prevailing Refund Policy.

                        Please contact us at 93 22 500 600 or email us at: Daybazaronlinestores@gmail.com for cancellation or modification of your Order.

                        On receipt of the cancellation notice we shall cancel the order and refund the entire amount if the order has not been processed by us. Cancellation of Order can't be done/accepted once the products under your order is released for dispatch/ shipped out from our delivery location.

                        ALL RETURNS, EXCHANGE AND CANCELLATION OF PRODUCTS ARE SUBJECT TO MANUFACTURER'S WARRANTIES AND THE INOVICE TERMS AND CONDITIONS.


                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">IV. Delivery/Shipping Policy</h3>
                    <p class="p-i">
                        Delivery Timelines: We will make every effort to get your order delivered to you as per your convenient/ chosen available slot. <br />

                                                
                        i. The products ordered by You shall be available for delivery as per allotted delivery slot during the delivery hours, namely, 08:00 hours to 20:00 hours on all days. If you fail to take delivery on the agreed slot as mentioned in (a) above, your order and delivery thereof shall be treated as cancelled.<br/>
                        ii. At the time of taking delivery of the products, You shall quote the PIN No. at the Delivery Point.<br/>
                        iii. The person at the Delivery Point authorized to deliver the product may decline to deliver the product if he finds any inconsistency as regards Order No. / PIN No or any other detail of the order<br/>
                        iv. Subject to availability of the ordered product at the Delivery Point on the delivery day, Day Bazar shall deliver the product to You as per schedule, failing which Day Bazar shall inform You with a revised schedule for delivery of the Product. You may ask for cancellation/modification of Order on account of this.<br/>
                        v. It is your responsibility to count and check all the products while accepting the Products as per your Order. No dispute will be entertained by Day Bazar once you accept the products at the Delivery Point.<br/>
                        vi. You shall accept the product without demur in the following circumstances:<br/>
                        a. If the products delivered to you are in accordance with your order, or<br/>
                        b. Loose Fruits and Vegetables with minor weight variation due to moisture loss<br/>
                        We request you to check all the Products at the time of delivery. Complaint pertaining to short weight will not be entertained, if the complaint is not lodged immediately on delivery.<br/>

                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">V. Shipping Charges:</h3>
                    <p class="p-i">
                        Delivery charge of Rs. 40/- will be leviable for each delivery. However day bazar  may run certain promotions / offers or prescribe minimum order value for each transaction to waive the delivery charges.
                        
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">VI. Order Tracking:</h3>
                    <p class="p-i">
                        Once your order has been dispatched from our delivery point, an email or an SMS will be sent to you on the email address and mobile number provided by you under "Billing Address" and Order placed with Us. You can track your order online by the ID Tracking number sent to you by us on your Mobile/Email ID.

                        You may also log on to your account on the website and application or use the "Track my Order" link on the website and application to track your order.


                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">VII. Order-Splitting:</h3>
                    <p class="p-i">
                        We give all users the opportunity to use opt-out of receiving unwanted (promotional, marketing-related) communications after setting up an account from us and from us in general for our partners.
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">VIII. Advertisement</h3>
                    <p class="p-i">
                        Sometimes we may not be in a position to deliver an order to a particular location due to the nature of the product, its availability or due to the service limitations of our courier and logistic partners. In such cases, you may receive the items (of a single order) at different points of time or through different courier partners. The status of all items within an order can be tracked online.
                        
                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">IX. Delivery Locations:</h3>
                    <p class="p-i">
                        We currently deliver orders to selected pin codes/areas across a city within kerala only. You may check the delivery serviceability of your area/locality with our customer care/support team 93 22 500 600


                    </p>
                </div>
                <div class="item  b-i">
                    <h3 class="p-h">X. Changes to This Refund & Return Policy </h3>
                    <p class="p-i">
                        We may update our Refund & Return Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Refund & Return Policy on this page. These changes are effective immediately after they are posted on this page.

                    </p>
                </div>
            </section>
        </section>

        <section id="footer" class="privacy-policy">
            <section class="content" style="background-image: url('../../static/web/terms/bg.png'); width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 55px 0;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.1),0 0 0 rgba(0,0,0,.1);
            background-color: #fff;
            background-size: cover;">
                <h1>
                    <a href="/"
                        ><img style="width: 200PX;" src="{% static 'web/terms/logo.png' %}" alt="DayBazar"
                    /></a>
                </h1>
                <p style="font-size: 20PX;" ><b style="color: #333;">Terms & Conditions</b>
                </p>
            </section>

    </body>
    
</html>