{% extends 'web/base.html' %} {% block content %} {% load static %}

{% load web_template_tags %}
{% load main_template_tags %}

<section id="products_section">
	<div class="container">
		<div class="row">
			<div class="col-md-3 sidebar">
				<div class="panel-group filter_group">
					<h3>Categories</h3>

				</div>
				<!--[.filter_group]-->
				{% if product_categories %}
				{% for category in product_categories %}
				<div class="panel-group filter_group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="collapse_title collapsed" data-toggle="collapse"
									href="#filter{{forloop.counter}}">{{category.name}}</a>
							</h4>
						</div>
						<div id="filter{{forloop.counter}}" class="panel-collapse collapse">
							<ul class="list-group">
								{% for sub_cat in category|get_sub_category %}
								<li class="list-group-item">
									<a href="{% url 'web:sub_category_products' pk=sub_cat.pk %}"
										title="Sub Categories">{{sub_cat.name}}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<!--[.filter_group]-->
				{% endfor %}
				{% endif %}
			</div>
			<!--[sidebar]-->
			<div class="col-md-9 right_section">
				{% if offer_data %}
				{% for offer in offer_data|slice:":1" %}
				<div class="row">
					<div class="content_banner" style="background-image: url('{{offer.image_url}}');">
						<div class="banner_content">
							<div class="content">
								<h4>{{offer.offer_percentage}}% OFF</h4>
								<p>{{offer.product}}</p>
								<a href="{% url 'web:single_product' pk=offer.product_pk %}" class="shop_now">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<div class="row">
					<div class="content_banner"
						style="background-image: url('../../static/web/images/strawberry.jpg');">
						<div class="banner_content">
							<div class="content">
								<h4></h4>
								<p>Best Products</p>
								<a href="{% url 'web:product_list' %}" class="shop_now">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="white_bg product_list_content list-pro">
					<div class="head_title">
						<h2 class="title">
							<small>Offer</small>
							<b>Top offers For You</b>
						</h2>
					</div>
					<div class="products_list">
						{% load el_pagination_tags %}
						{% if offer_data %}
						{% paginate 9 offer_data %}
						{% for offer in offer_data %}
						<div class="col">
							<div class="product equal-offer" data-class="product">
								<div class="bookmark pro-save">
									<h6 style="color:#fff">
										{{offer.offer_percentage|floatformat:"0"}}% OFF
									</h6>
								</div>
								<a href="{% url 'web:add_to_wishlist' %}" data-id="add-to-wishlist"
									title="Add To Wishlist"
									class="wishlist awish {% if offer.varient_pk|check_color_wish:request %} active {% elif offer.product_pk|check_color_wish:request %} active {% endif %}"
									{% if offer.varient_pk %} data-pk="{{offer.varient_pk}}" {% else %}
									data-pk="{{offer.product_pk}}" {% endif %}></a>
								{% if offer.image_url %}
								<a href="{% url 'web:single_product' pk=item.pk %}" class="thumb equal-img ">
									<img src="{{offer.image_url}}" alt="{{offer.product}}">
								</a>
								{% else %}
								<a href="{% url 'web:single_product' pk=item.pk %}" class="thumb">
									<img src="{% static 'web/images/democat1.jpg' %}" alt="product">
								</a>
								{% endif %}
								<div class="product_details">
									{% if offer.stock <= 0 %}
									<h5 class="status" style="color: #AA1713">Not Available</b></h5>
									{% else %}
									<h5 class="status" style="color: #138021e0">Available</b></h5>
									{% endif %}
									<h3 class="equal_name"><a href="{% url 'web:single_product' pk=offer.product_pk %}"
											class="">{% if offer.unit_type  %} {{offer.product}}
											{% if offer.count != None and offer.count != "" and offer.count != " " and offer.count != "  " %}
											- {{offer.count}} Count {% endif %}
											{% if offer.size != None and offer.size != "" and offer.size != " " and offer.size != "  "%}
											- {{offer.size|title}} Size {% endif %}
											{% if offer.flavour != None and offer.flavour != "" and offer.flavour != " " and offer.flavour != "  "%}
											- {{offer.flavour}} Flavour {% endif %} - {{offer.unit_type}} {% else %}
											{{offer.product}} - {{offer.title}}
											{% if offer.count != None and offer.count != "" and offer.count != " " and offer.count != "  " %}
											- {{offer.count}} Count {% endif %}
											{% if offer.size != None and offer.size != "" and offer.size != " " and offer.size != "  " %}
											- {{offer.size|title}} Size {% endif %}
											{% if offer.flavour != None and offer.flavour != "" and offer.flavour != " " and offer.flavour != "  " %}
											- {{offer.flavour}} Flavour {% endif %} {% endif %}</a></h3>

									<span class="price">
										<del class="pro-mrp"><i class="currency ">&#8377;</i>{% if offer.varient_mrp %}
											{{offer.varient_mrp}} {% else %} {{offer.price}} {% endif %} </del>
										<b class="pro-price"><i class="currency">&#8377;</i>{{offer.offer_price}}</b>
									</span>
									<p class="save-pr">
									<h5 class="save-pri" style="color: green"> You Save <i class="currency">&#8377;</i>
										{% if offer.varient_save_price %} {{offer.varient_save_price}} {% else %}
										{{offer.saved_price}} {% endif %} </h5>
									</p>
								</div>
								<div class="quantity pro-qty-card">
									<div class="q_minus">
										<span class="q_control" data-multi="-1">-</span>
									</div>
									<div class="q_input">
										<input id="qty_change" type="text" class="quntity-input"
											value="{% if offer.varient_pk %} {{offer.varient_pk|check_qty_in_cart:request}} {% else %} {{offer.product_pk|check_qty_in_cart:request}} {% endif %}" />
										<b class="value">Qty</b>
									</div>
									<div class="q_plus">
										<span class="q_control" data-multi="1">+</span>
									</div>
									<div class="clearfix"></div>
								</div>
								<a href="{% url 'web:add_cart' %}"
									class="add_to_cart acart {% if offer.varient_pk|check_color_cart:request %} active {% elif offer.product_pk|check_color_cart:request %} active {% endif %}"
									title="Add To Cart" data-id="add-to-cart" {% if offer.varient_pk %}
									data-pk="{{offer.varient_pk}}" {% else %} data-pk="{{offer.product_pk}}"
									{% endif %}></a>
							</div>
							<!--[.product]-->

						</div>
						<!--[.col]-->
						{% endfor %}
						<div class="bootgrid-footer container-fluid" id="data-table-selection-footer">
							{% get_pages %}
							<div class="row">
								<div class="col-sm-12">
									<div class="pagination">
										{% show_pages %}
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<div class="nothing_found">
							<!-- <div class="image">
									<img src="{% static 'web/images/cartempty.jpeg' %}" alt="Image" title="Nothing Found" />
								</div> -->
							<h3>Sorry, no offers found!</h3>
						</div>
						{% endif %}
					</div>
					<!--[products_slide]-->
				</div> <!-- [.white_bg] -->
			</div>
		</div>
	</div>
</section>
<!--[#featured_products]-->
{% if offer_data %}
<section id="offers_code">
	<div class="container">
		<div class="head_title">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<h2 class="title">
							<small>Valued</small>
							<b>Offer Products</b>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="widget_row">
			{% if offer_data %}
			{% for offer in offer_data|slice:":3" %}
			<div class="col-md-4 col-sm-6 coupen_widget">
				<div class="cover" style="background-image: url('{{offer.image_url}}');">
					<h4 class="title">
						{{offer.category}}
					</h4>
					<div class="offer_details">
						<b class="offer_value">{{offer.offer_percentage}}% OFF </b>
						<small class="caption">Buy More & Save More</small>
						<span class="cat">{{offer.product}}</span>
					</div>
					<a href="{% url 'web:single_product' pk=offer.product_pk %}" class="offer_now">
						<span class="svgicon">
							<img src="{% static 'web/images/shopping-cart.svg' %}" alt="shop now">
						</span>
						Shop Now
					</a>
				</div>
			</div>
			<!--[coupen_widget]-->
			{% endfor %}
			{% endif %}
			<div class="clearfix"></div>
		</div>
		<!--[offers_code >> .widget_row]-->
	</div>
	<!--[offers_code >> .container]-->
</section>
<!--[offers_code]-->
{% endif %}
<div id="snackbar"></div>
<style>
	.pro-qty-card {
		display: inline-block;
		bottom: 18px;
		position: absolute;
	}

	.pro-img {
		width: 100%;
		/* height: 292px; */
		display: inline-block;
	}

	.pro-img img {
		width: 100%;
		height: 100%;
	}

	.products_list .product img {
		height: 192px;
	}

	@media (max-width: 360px) {
		.equal-img {
			height: 192px !important;
		}
	}
</style>

<script>
	$('select[name="payment_type"]').change(function () {
		$this = $(this);
		var pk = $(this).val();
		if (pk) {
			$parent = $this.parents('div[data-class ="product"]');
			$parent.find('a[data-id="add-to-cart"]').attr('data-pk', pk)
			$parent.find('a[data-id="add-to-wishlist"]').attr('data-pk', pk)
		}
		else {
			$parent = $this.parents('div[data-class ="product"]');
			$parent.find('a[data-id="add-to-cart"]').attr('data-pk', pk)
			$parent.find('a[data-id="add-to-wishlist"]').attr('data-pk', pk)
		};
	});
	$(document).on(
		"click", 'a[data-id="add-to-cart"], a[data-id="add-to-wishlist"]',
		function (e) {
			e.preventDefault();

			python = '{% if not user.is_authenticated %}'
			window.location.href = "{% url 'web:login' %}?next={% url 'web:single_product' pk=instance.pk %}"
			python = '{% else %}'

			$this = $(this);
			var url = $(this).attr("href");
			var isReload = $this.hasClass("reload");
			let id = $(this).attr("data-pk");
			let qty = $(this).parents('.product').find('#qty_change').val()
			let parent = $(this).parents('.product')
			$.ajax({

				type: "GET",
				url: url,
				dataType: "json",
				data: {
					pk: id,
					qty: qty
				},

				success: function (data) {
					var status = data["status"];
					var message = data["message"];
					var cart_item_count = data["cart_item_count"];
					var wishlist_item_count = data["wishlist_item_count"];

					if (message == "Added to Wishlist") {
						parent.find('.awish').addClass('active');
					} else if (message == "Added to Cart") {
						parent.find('.acart').addClass('active');
					} else if (message == "Removed from Wishlist") {
						parent.find('.awish').removeClass('active');
					}

					$("#snackbar").html(message);
					ShowSnackBar();
					checkCartAnsWishlist();
					$("header wishlist_count span").html(wishlist_item_count);
					$("header cart_count span").html(cart_item_count);
					// location.reload();
				},

				error: function (data) {
					var title = "An error occurred";
					var message = "An error occurred. Please try again later.";
					swal(title, message, "error");
				}
			});
			python = '{% endif %}'
		}
	);

	$(document).on("click", 'select[name="payment_type"]', function (e) {
		e.preventDefault();

		$this = $(this);
		var url = $(this).attr("href");
		$parent = $this.parents('div[data-class ="product"]');
		// $parent.find('button[data-id="add-to-cart"]').attr('data-pk',pk)
		let id = $this.val()
		var isReload = $this.hasClass("reload");
		// let id = $(this).attr("data-pk");
		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			data: {
				pk: id
			},

			success: function (data) {
				var status = data["status"];
				var message = data["message"];
				var name = data['name'];
				var price = data['price'];
				var image = data['image'];
				var pk = data['pk'];
				var stock = data['stock'];
				var mrp = data['mrp'];
				var save_amount = mrp - price;
				var percent = data['percent'];
				// location.reload();
				if (!($($this).find('option:selected').hasClass('main_pro'))) {
					$parent.find('.pro-name').show();
					$parent.find('.pro-name').html(` ${name}`);
				}
				else {
					$parent.find('.pro-name').hide();
				}
				$parent.find('.pro-price').html(price);
				$parent.find('.pro-mrp').html(mrp);
				$parent.find('.pro-save h6').html(`${percent} % OFF`);
				$parent.find('.pro-add-cart').attr('data-pk', pk);
				$parent.find('.pro-img img').attr('src', image);
				$parent.find('.pro-pr').html(`You Save <i class="currency">&#8377;</i> ${save_amount}`);

			},

			error: function (data) {
				var title = "An error occurred";
				var message = "An error occurred. Please try again later.";
				$("#snackbar").html(message);
				ShowSnackBar();
			}
		});
	}
	);
</script>
{% endblock %}